/rf_frontend/node_modules
/rf_frontend/.pnp
/rf_frontend/.pnp.*
/rf_frontend/.yarn/*
/rf_frontend/!.yarn/patches
/rf_frontend/!.yarn/plugins
/rf_frontend/!.yarn/releases
/rf_frontend/!.yarn/versions
/rf_frontend/coverage
/rf_frontend/.next/
/rf_frontend/out/
/rf_frontend/build
/rf_frontend/.DS_Store
/rf_frontend/*.pem
/rf_frontend/npm-debug.log*
/rf_frontend/yarn-debug.log*
/rf_frontend/yarn-error.log*
/rf_frontend/.env*
/rf_frontend/.vercel
/rf_frontend/*.tsbuildinfo
/rf_frontend/next-env.d.ts
/test
/shared
/.ropeproject