.main {
  height: calc(100vh - 160px);
  width: calc(100vw - 160px);
}

.Loading {
  position: absolute;
  background-image: radial-gradient(rgba(0, 31, 57, 0.947) 30%, transparent 100%);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -100;
  display: hidden;
  visibility: hidden;
}


.Loading[data-visible="true"] {
  visibility: visible;
  z-index: 1;
  height: calc(100vh);
  width: calc(100vw);
}

.wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.wrapper > * {
  padding: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.wrapper1 {
  height: 100%;
}

.wrapper1 > label{
  height: calc(100% - 20px);
  display: grid;
  place-items: center;
  align-content: center;
  gap: 5px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  background-color: var(--background-2);
  border-radius: 5px;
  cursor: pointer;
}

.wrapper1 > label > span:first-child {
  font-weight: 700;
  font-size: 1.8em;
}

.wrapper1 > input[type="file"] {
  padding-top: 4px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.wrapper1 > input[type="file"]::file-selector-button{
  display: none;
}

.wrapper3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper3 > h2 {
  font-size: 2em;
}

.wrapper3 > h3 {
  font-weight: normal;
  padding-top: 20px;
}

.wrapper2, .wrapper4 {
  display: grid;
  place-items: center;
  align-content: center;
}

.wrapper2 > *,
.wrapper4 > *{
  display: block;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding: 10px 28px;
  background-color: var(--accent);
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

.wrapper2 > *[data-disable="true"],
.wrapper4 > *[data-disable="true"]{
  display: block;
  border: 1px solid rgb(255, 255, 255, 0.5);
  padding: 10px 28px;
  background-color: rgba(100, 0, 0, 0.7);
  border-radius: 5px;
  font-size: 1em;
  cursor: not-allowed;
}

.code {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 14px;
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid rgb(255, 255, 255, 0.5);
  background-color: var(--background-2);
}